<nav class="nav-bar">
    <div class="nav-internal menu sticky-menu" id="nav-bar">
        <div class="dropdown hover-parrent">
            <a class="dropdown-text">About</a>
            <ul class="dropdown-content hover-parrent">
                <li><a href="#">Link</a></li>
            </ul>
        </div>
        <div class="dropdown hover-parrent">
            <a class="dropdown-text">Projects</a>
            <ul class="dropdown-content hover-parrent">
                <li><a href="https://github.com/Silvenga">Git</a></li>
            </ul>
        </div>
    </div>
</nav>